[Unit]
Description=Start up GP VPN

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/start-vpn

[Install]
WantedBy=multi-user.target
